.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container holding the image and the text */
.container-thing {
    position: relative;
    /* text-align: center; */
    /* color: white; */
  }
  
/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 16px;
    right: 5px;
  }
  
.product-title {
    background-color: black;
    color: white;
}

/* From the internet */

.select-style {
    /* border: 1px solid black; */
    /* width: 100px; */
    /* border-radius: 3px; */
    /* overflow: hidden; */
    /* background: #fafafa url("img/icon-select.png") no-repeat 90% 50%; */
    /* -webkit-appearance: none; */
}

.select-style select {
    /* padding: 5px 8px; */
    /* width: 130%; */
    /** Don't need above */
    border: none;
    /* box-shadow: none; */
    /* background: transparent; */
    /* background-image: none; */
    /* -webkit-appearance: none; */
    border-radius: 0px;
    text-align-last:center;

    -webkit-appearance: none;
    /* -moz-appearance: none;
    appearance: none;
    padding: .5em;
    background: #efefef;
    border: none;
    border-radius: 3px;
    padding: 1em 2em 1em 1em;
    font-size: 1em; */
}

.select-style select:focus {
    outline: none;
}

.gray-color {
    color: #828282;
}

table, th, td {
    border: 1px solid black;
  }

.foo {
    border-bottom: 2px solid black;
}

.top-border {
    border-top: 2px solid black;
}

.nav-color a {
    color: black;
}

.bar input {
    -webkit-appearance: none;
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
}

.car input {
    -webkit-appearance: checkbox;
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
}

input:focus {
    outline: none;
}


/* extra */

  label {
    /* color: #6b7c93;
    font-weight: 300;
    letter-spacing: 0.025em; */
    display: inline;
  }

  /* input, */
  .StripeElement {
    display: block;
    margin: 10px 0 10px 0;
    max-width: 500px;
    padding: 10px 14px;
    font-size: 1em;
    font-family: 'Source Code Pro', monospace;
    /* box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px; */
    border: 1px solid black;
    outline: 0;
    border-radius: 4px;
    background: white;
  }
/* 
  input::placeholder {
    color: #aab7c4;
  } */

  /* input:focus, */
  .StripeElement--focus {
    /* box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px; */
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
  }

  /* .StripeElement.IdealBankElement,
  .StripeElement.PaymentRequestButton {
    padding: 0;
  } */


/* diff */

/* Customize the label (the container) */
.container-new {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-new input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-new:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-new input:checked ~ .checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-new input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-new .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Spinner */

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #000000;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
